sqlConnStr = "postgres://postgres:postgres@db/bloomapi?sslmode=disable"
searchHosts = [
  "search"
]
bloomapiPort = 3005
yourchartUrl = "http://yourchart:3001"
statsLogger = "syslog" # values can be: 'syslog' or 'stdout'
generalLogger = "stdout"
