doctype html

block vars
  - var title = 'Find and Compare Clinicians'
  - var description = "National Provider Identifier (NPI) tool and API to search and compare clinitians. Open source, high performance, and updated weekly from the National Plan & Provider Enumeration System\'s (NPPES) NPI registry"

html
  head
    title BloomAPI: #{title}
    link(rel='stylesheet',href='/css/style.css')
    script(type='text/javascript',src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript',src='/js/index.js')
    meta(http-equiv='Content-Type',content='text/html; charset=UTF-8')
    meta(name='description',content='#{description}')
  body
    block content
