extends subpage

block vars
  - var title = 'Contribute'
  - var description = 'Setup a development environment, test, and contribute to BloomAPI'
  - var tab = 'contribute'

block subContent
  .row-skipnav
    h1 Contributing to BloomAPI
    p If you would like to contribute to BloomAPI. Please reach out to 
      a(href='http://www.mikewasser.com/',target='_blank') Michael Wasser
      | .
    p If you'd just like to explore the source/ setup a development environment, see the instructions below.
    h2 Development Environment
    h3 Source Code
    p Checkout the latest code from the 
      a(href='http://github.com/untoldone/bloomapi',target='_blank') github repository
      | .
    code git clone https://github.com/untoldone/bloomapi.git
    h3 Dependencies
    p BloomAPI has the following runtime dependencies
    ul
      li nodejs 0.10+ (and a number of nodejs packages installable via npm)
      li postgreSQL 9.1+
      li p7zip
    h4 Dependency installation on mac OSX
    p Since several dependencies require you build source code, XCode must be installed with the Command Line Tools option enabled to complete the following instructions.
    p Using 
      a(href='https://github.com/mxcl/homebrew',target='_blank') homebrew
      | :
    code brew install nodejs p7zip postgresql
      | cd &#60bloomapi source dir&#62
      | npm install
    h4 Dependency installation on ubuntu 14.04
    code
      | sudo apt-get install -y p7zip-full poppler-utils g++ make postgresql-9.1 postgresql-server-dev-9.1 software-properties-common
      | sudo add-apt-repository -y ppa:chris-lea/node.js
      | sudo apt-get update
      | sudo apt-get install -y nodejs
      | cd &#60bloomapi source dir&#62
      | npm install
    h4 Dependency Troubleshooting
    p 
      | If you are having trouble with the bootstrap task or running server, try running <code>node make check</code> to verify that dependencies have been properly installed.
    h3 Bootstrap
    p The first time you run your bloomapi environment, you will need to have setup the database schema, and fetched/insert the source data. This process has been automated once bloomapi is configured.
    p
      | To configure bloomapi, copy <code>./config.js.sample</code> to <code>./config.js</code> and edit the default values. Note that the database configured should already be created and the user should have access to it. If you haven't created the database yet, you can create it using <code>sudo su postgres -c "psql -c 'CREATE DATABASE bloomapi'"</code> on a ubuntu installation
    p
      | Once configured, run <code>node make bootstrap</code> to automatically create the database schema, fetch the data files from their respective source, and import their data. Bootstrapping currently takes approximately 20 minutes for the full NPI dissemination + 10 minutes for every weekly dissemination imported on Rackspace small instance.
    h3 Running Bloom
    p 
      | Once bootstrapped, bloomapi can be run using <code>node make server</code>. BloomAPI will listen on port 3000 for web requests.
    h2 Testing
    ol
      li
        | install jasmine-node globally with <code>sudo npm i -g jasmine-node</code>
      li
        | Run tests with <code>jasmine-node spec</code> from the root of the source directory
    h2 Deploy
    p 
      | If you would like to deploy your own production-ready version of bloomapi, see the instructions in the 
      a(href="/documentation") documentation
      | .
    h2 BloomAPI Roadmap
    p See the 
      a(href='http://github.com/untoldone/bloomapi',target='_blank') github readme
      |  for a detailed roadmap
