extends application

block content
  nav
    div
      ul.pull-right
        li.active
          a(href='/') home
        li
          a(href='/search') search
        li
          a(href='/documentation') documentation
        li
          a(href='/contribute') contribute
  header
    .row
      .hero
        h1 bloom.api 
          small v0.1.6
        h2 an api to lookup and compare physicians
  section.value-props
    .value-prop
      h3 Current
      p
        | BloomAPI is updated weekly with the lastest details from
        | the Centers for Medicare and Medicaid Services (CMS). The
        | data is pulled from the National Provider Identifer (NPI) 
        a(href='http://nppes.viva-it.com/NPI_Files.html',target='_blank') data dissemination
        |  Programmatically available health information ensures you're up to date.
    .value-prop
      h3 Free
      p
        a(href='http://en.wikipedia.org/wiki/Gratis_versus_libre',target='_blank') Free, as in speech
        | . In addition to being hosted for free, non-commercial use,
        | BloomAPI's 
        a(href='https://github.com/untoldone/bloomapi',target='_blank') full source code
        |  is available online with a 
        | MIT license so you can run your own to meet your SLA
        | requirements. Deploy it yourself for higher performance 
        | or high availability.
    .value-prop
      h3 Performant
      p
        | Built with high performance in mind, we strive to maintain
        | quick response time on any possible NPI search.
        | We actively monitor performance and optimize as is needed
        | to ensure support for applications that need NPI data realtime.
    .value-prop
      h3 Accessible
      p
        | Need to leverage the full NPI dataset? Run
        | your own BloomAPI deployment for direct database access.
        | BloomAPI will ensure your NPI data is always fresh without
        | needing to regularly maintain your deployment.
  p(style='text-align: center;') BloomAPI is built and hosted by 
    a(href='http://www.mikewasser.com/',target='_blank') Michael Wasser
    |  with help from many other 
    a(href='https://github.com/untoldone/bloomapi/graphs/contributors',target='_blank') contributors
    | . Please 
    a(href='mailto:support@bloomapi.com') contact support
    |  if you have any questions.

