doctype xml

sitemapindex(xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance",xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd",xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  sitemap
    loc http://www.bloomapi.com/sitemap-web.xml
    lastmod 2014-10-15
  - for (i = 0; i < count; i++)
    sitemap
      loc http://www.bloomapi.com/sitemaps/#{i}.xml
      lastmod #{lastMod}
