extends application

block vars
- var homeClass = (tab == 'home' ? 'active' : '')
- var searchClass = (tab == 'search' ? 'active' : '')
- var documentationClass = (tab == 'documentation' ? 'active' : '')
- var contributeClass = (tab == 'contribute' ? 'active' : '')

block content
  nav.cover
    div
      h1.pull-left
        a(href='/') bloom.api
      ul.pull-right
        li(class=(tab == 'home' ? 'active' : ''))
          a(href='/') home
        li(class=(tab == 'search' ? 'active' : ''))
          a(href='/search') search
        li(class=(tab == 'documentation' ? 'active' : ''))
          a(href='/documentation') documentation
        li(class=(tab == 'contribute' ? 'active' : ''))
          a(href='/contribute') contribute
  block subContent
